@charset "UTF-8";

$regular: 'Montserrat', sans-serif;
$secondary: 'Barlow Condensed', sans-serif;
$color-main: #DD796B;
$color-secondary: #d6b19e;

#es-rc #es-rc-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    max-width: 980px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    color: #000;
    background: #fff;

    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    p {
        margin: 0;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .es-title {
        text-transform: uppercase;
        font-family: $secondary;
        text-align: center;
        font-size: 34px;
    }

    .es-title span {
        font-weight: 700;
    }

    .es-text-outline {
        width: 100%;
        text-transform: uppercase;
        font-family: $regular;
        font-weight: 700;
    }

    .es-text-stroke {
        text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
        color: $color-main;
        text-transform: uppercase;
        font-family: $regular;
        font-weight: 700;
        text-align: center;
        font-size: 24px;
        letter-spacing: 0.1em;
    }

    @media (min-width: 576px) {
        .es-text-stroke {
            font-size: 32px;
        }
    }

    @media (min-width: 768px) {
        .es-text-stroke {
            font-size: 38px;
        }
    }

    .es-text-accent {
        font-family: $secondary;
        text-transform: uppercase;
    }

    /**************************************/
    /************* kv styles **************/
    /**************************************/
    .es-kv {
        &__logo {
            background: #000;
            padding: 20px 16px;
        }

        &__badge {
            display: none;
        }

        &__left {
            position: relative;
        }

        &__text {
            position: absolute;
            bottom: 0;
            padding: 16px;
            width: 100%;
        }

        &__headline {
            text-transform: uppercase;
            color: #FFF;
            font-weight: 700;
            font-size: clamp(0.875rem, -0.2599rem + 6.9841vw, 2.25rem);
        }

        &__right {
            position: relative;
        }

        &__packshot {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            width: 43%;
        }

        &__right .es-kv__text {
            font-family: $secondary;
            text-transform: uppercase;
            font-size: clamp(1.375rem, -0.2758rem + 10.1587vw, 3.375rem);
            font-weight: 700;
            color: #FFF;
            text-align: right;
            right: 10%;
            bottom: 5%;
        }

        &__right .es-kv__text--bg {
            background-color: $color-main;
            width: max-content;
            margin-left: auto;
            padding: 0px 4px;
        }
    }

    @media (min-width: 576px) {
        .es-kv {
            position: relative;
            margin-top: 40px;

            &__badge {
                position: absolute;
                display: block;
                top: -40px;
                right: 40px;
                z-index: 2;
            }

            &__container {
                display: flex;
                flex-direction: row;
            }

            &__headline {
                font-size: clamp(1rem, -0.4257rem + 3.9604vw, 2rem);
            }

            &__right .es-kv__text {
                font-size: clamp(1.25rem, 0.0025rem + 3.4653vw, 2.125rem);
            }
        }

    }

    /**************************************/
    /********* features styles ************/
    /**************************************/
    .es-features {
        background-color: $color-main;
        padding: 1rem;

        &__header {
            color: #FFF;
            text-align: center;
        }

        .es-text-accent {
            font-size: 24px;
        }

        &__desc {
            margin-top: 16px;
        }

        &__wrapper {
            margin-top: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;
        }

        &__single {
            font-family: $secondary;
            text-transform: uppercase;
            color: #FFF;
            font-size: 20px;
            position: relative;
            border-bottom: 1px solid #FFF;
            width: 60%;
            padding-bottom: 4px;
        }

        &__line {
            display: none;
        }
    }


    @media (min-width: 576px) {
        .es-features {
            background-image: url('../images/features-bg.png');
            background-size: cover;
            background-position: center;
            aspect-ratio: 13/10;
            padding-top: 24px;
            position: relative;

            .es-text-accent {
                margin-top: 8px;
                font-size: 32px;
            }

            &__wrapper {
                justify-content: center;
                height: 100%;
            }

            &__single {
                max-width: 31%;
                font-size: 24px;
                border-bottom: none;
                position: relative;
            }



            &__single:nth-of-type(1) {
                align-self: flex-start;
                text-align: left;
            }

            &__single:nth-of-type(2) {
                align-self: flex-end;
                text-align: right;
                flex-direction: row-reverse;
            }

            &__single:nth-of-type(3) {
                align-self: flex-start;
                text-align: left;
            }

            &__line {
                content: "";
                min-width: 50px;
                height: 1px;
                background-color: #FFF;
                margin-right: 4px;
                display: block;
                position: absolute;
                top: 50%;
                right: -24%;
            }

            &__line::after {
                content: "";
                min-width: 4px;
                height: 4px;
                background-color: #FFF;
                border-radius: 50%;
                position: absolute;
                top: -2px;
                right: 0;
            }

            &__single:nth-of-type(2) .es-features__line {
                right: unset;
                left: 0;
            }

            &__single:nth-of-type(2) .es-features__line::after {
                display: none;
            }

            &__single:nth-of-type(2) .es-features__line::before {
                content: "";
                min-width: 4px;
                height: 4px;
                background-color: #FFF;
                border-radius: 50%;
                position: absolute;
                top: -2px;
                left: 0;
            }
        }

        .es-features::after {
            content: "";
            background-image: url('../images/leaf-1.png');
            background-size: contain;
            position: absolute;
            bottom: -17%;
            right: 0;
            width: 267px;
            height: 269px;
        }
    }

    @media (min-width: 768px) {
        .es-features {
            aspect-ratio: unset;
            min-height: 575px;
            background-position: bottom;

            &__wrapper {
                height: 350px;
                padding: 32px;
            }

            .es-text-accent {
                font-size: 38px;
            }

            &__single {
                font-size: 28px;
                max-width: 190px;
            }
        }

        .es-features::after {
            width: 363px;
            height: 331px;
        }
    }

    @media (min-width: 888px) {
        .es-features {
            min-height: 666px;
        }

        .es-features__single {
            font-size: 32px;
            max-width: 210px;
        }
    }

    /**************************************/
    /*********** colors styles ************/
    /**************************************/
    .es-bg-wrapper {
        background-image: url("../images/shade-bg.png");
        background-size: cover;
    }

    .es-colors {
        padding-block: 50px;

        .es-text-stroke {
            color: $color-secondary;
        }

        &__product img {
            max-height: 300px;
        }

        &__container {
            margin-top: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            row-gap: 32px;
            flex-wrap: wrap;
        }

        &__single {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 215px;
        }

        &__product {
            overflow: hidden;
        }

        &__product img {
            transition: all 300ms ease-in-out;
        }

        &__product img:hover {
            scale: 1.1;
        }

        &__shade {
            position: relative;
            overflow: hidden;
        }

        &__shade img {
            transition: all 300ms ease-in-out;
        }

        &__shade img:hover {
            scale: 1.1;
        }

        &__text {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            text-align: center;
            color: #FFF;
            font-family: $secondary;
            font-weight: 700;
            font-size: 30px;
        }




    }

    @media (min-width: 576px) {

        .es-colors__product img {
            max-height: 360px;
        }

        .es-colors__single {
            max-width: 150px;
        }
    }

    @media (min-width: 988px) {
        .es-colors__single {
            max-width: 154px;

        }

        .es-colors__product img {
            max-height: 368px;
        }
    }

    /**************************************/
    /************ steps styles ************/
    /**************************************/

    .es-steps {
        color: #FFF;

        .es-title {
            margin-bottom: 0.2em;
        }

        .es-text-stroke {
            color: #c28f7c;
        }

        &__container {
            display: flex;
            flex-direction: column;
            padding-block: 32px;
        }

        &__single {
            position: relative;
        }

        &__wrapper {
            position: relative;
        }

        &__img {
            overflow: hidden;

        }

        &__img img {
            transition: all 300ms ease-in-out;
        }

        &__img img:hover {
            scale: 1.1;
        }

        &__number {
            font-size: 72px;
            font-family: $secondary;
            font-weight: 700;
            position: absolute;
            bottom: -32px;
            left: -14px;
        }

        &__text {
            text-align: center;
            text-wrap: balance;
            padding: 16px;
        }

    }

    @media (min-width: 576px) {
        .es-steps .es-text-stroke {
            color: #d9b2a0;
        }

        .es-steps__container {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 32px;
            gap: 32px;
            justify-content: center;
            max-width: 900px;
            margin: auto;
            position: relative;
        }

        .es-steps__container::after {
            position: absolute;
            content: "";
            background-image: url("../images/leaf-1.png");
            background-size: contain;
            width: 240px;
            height: 218px;
            bottom: -26%;
            left: 0;
            z-index: 2;
            transform: scaleX(-1);
        }

        .es-steps__single {
            flex-basis: 45%;
        }

        .es-steps__container figure {
            padding: 0;
            margin: 0;
        }

        .es-steps__text {
            font-size: 12px;
        }

    }

    @media (min-width: 768px) {
        .es-steps__number {
            font-size: 110px;
            bottom: -51px;
            left: -20px;
        }

        .es-steps__text {
            padding: 24px;
        }

        .es-steps__container::after {
            width: 300px;
            height: 273px;
            bottom: -47%;
        }
    }

    @media (min-width: 930px) {
        .es-steps__container::after {
            left: -5%;
            width: 363px;
            height: 331px;
        }

        .es-steps__text {
            font-size: 14px;
        }
    }

    /**************************************/
    /********** effects styles ************/
    /**************************************/

    .es-effects {
        color: #FFF;

        .es-text-stroke {
            color: #b8816e;
        }

        &__container {
            display: flex;
            flex-direction: column;
        }

        &__single {
            display: grid;
            grid-template-columns: 32px 1fr;
            align-items: center;
            column-gap: 24px;
            padding: 16px;
        }

        &__number {
            font-family: $secondary;
            font-weight: 700;
            font-size: 48px;
            justify-self: right;
        }

        &__text {
            border-top: 1px solid #FFF;
            padding-top: 8px;
            text-wrap: balance;
        }
    }

    @media (min-width: 576px) {
        .es-effects .es-text-stroke {
            max-width: 60%;
            margin-left: auto;
            color: #cda08d;
        }

        .es-effects__wrapper {
            display: flex;
            flex-direction: row-reverse;
            position: relative;
        }

        .es-effects__container {
            z-index: 1;
            max-width: 60%;
            padding-right: 16px;
            padding-bottom: 16px;
        }

        .es-effects__pack {
            position: absolute;
            bottom: 0;
            left: -17%;
            z-index: 0;
        }

        .es-effects__text {
            font-size: 12px;
        }
    }

    @media (min-width: 768px) {
        .es-effects .es-text-stroke {
            width: 360px;
        }

        .es-effects__pack {
            left: 0;
        }

        .es-effects__container {
            width: 360px;
            padding-right: 38px;
            padding-block: 38px;
        }

        .es-effects__number {
            font-size: 54px;
        }

        .es-effects__single {
            padding: 8px;
        }
    }

    @media (min-width: 930px) {
        .es-effects .es-text-stroke {
            width: 430px;
        }

        .es-effects__container {
            width: 430px;
            padding-right: 48px;
            padding-block: 48px;
        }

        .es-effects__text {
            font-size: 14px;
        }
    }

    /**************************************/
    /******* cross sell styles ************/
    /**************************************/

    .es-cross {
        color: #FFF;
        padding: 40px 16px;

        .es-text-stroke {
            color: #c2907c;
        }

        &__container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-end;
            gap: 32px 8px;
            margin-top: 32px;
        }

        &__single {
            max-width: 300px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            flex-flow: column;
        }

        &__single:hover {
            .es-cross__img {
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }

            .es-cross__link {
                background-color: #FFF;
                color: #000;
                box-shadow: inset 0px 0px 0px 2px #000;
            }
        }

        &__packshot {
            margin-bottom: 16px;
            padding-bottom: 16px;
            width: 100%;
            height: 250px;
        }

        &__img {
            max-height: 100%;
            transition: all 0.3s;
        }

        &__name {
            line-height: inherit;
            font-size: 24px;
            text-transform: uppercase;
            font-family: $secondary;
            text-align: center;
            margin-bottom: 8px;
        }

        &__desc {
            text-align: center;
            font-size: 14px;
            margin-bottom: 32px;
        }

        &__link {
            margin: 0;
            padding: 0;
            line-height: inherit;
            font-size: 20px;
            font-weight: inherit;
            background: #000;
            color: #FFF;
            text-decoration: none;
            padding: 16px 40px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: $secondary;
            text-align: center;
            display: inline-block;
            transition: color 0.3s;
        }

        .es-disclaimer {
            text-align: center;
            text-wrap: balance;
            margin-top: 50px;
            font-size: 14px;
        }


    }

    @media (min-width: 576px) {
        .es-cross .es-disclaimer {
            font-size: 12px;
        }

        .es-text-stroke {
            margin-right: 32px;
        }

        .es-title {
            margin-left: 32px;
        }

        .es-cross {
            position: relative;
        }

        .es-cross::before {
            position: absolute;
            content: "";
            background-image: url("../images/leaf-1.png");
            background-size: contain;
            width: 267px;
            height: 269px;
            right: 0;
            top: -5%;
        }

        .es-cross__container {
            align-items: start;
        }

        .es-cross__single {
            min-width: 230px;
            width: 30%;
        }

        .es-cross__desc {
            height: 5em;
        }
    }

    @media (min-width: 768px) {
        .es-cross::before {
            width: 300px;
            height: 273px;
            top: -15%;
        }
    }

    @media (min-width: 930px) {
        .es-cross::before {
            width: 363px;
            height: 331px;
        }
    }

    /**************************************/
    /*********** banner styles ************/
    /**************************************/

    .es-banner {
        &--1 {
            width: 100vw;
            overflow: hidden;
        }

        &--1 img {
            object-fit: cover;
            width: 100%;
        }

        &--2 {
            width: 100vw;
            overflow: hidden;
        }

        &--2 img {
            object-fit: cover;
            width: 100%;
        }

        &--3 {
            width: 100vw;
            overflow: hidden;
        }

        &--3 img {
            object-fit: cover;
            width: 100%;
        }
    }

    @media (min-width: 576px) {
        .es-banner {
            display: flex;
            overflow: hidden;
        }

        .es-banner--1 {
            width: 25%;
        }

        .es-banner--2 {
            width: 50%;
            overflow: hidden;
        }

        .es-banner--3 {
            width: 25%;
        }

        .es-banner--1 img {
            height: 100%;
            transition: all 300ms ease-in-out;
        }

        .es-banner--1 img:hover {
            scale: 1.1;
        }

        .es-banner--2 img {
            height: 100%;
            transition: all 300ms ease-in-out;
        }

        .es-banner--2 img:hover {
            scale: 1.1;
        }

        .es-banner--3 img {
            height: 100%;
            transition: all 300ms ease-in-out;
        }

        .es-banner--3 img:hover {
            scale: 1.1;
        }

    }

    /**************************************/
    /*********** footer styles ************/
    /**************************************/
    .es-footer {
        background-color: #000;
        padding: 24px;
    }

}