#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;
  /**************************************/
  /************* kv styles **************/
  /**************************************/
  /**************************************/
  /********* features styles ************/
  /**************************************/
  /**************************************/
  /*********** colors styles ************/
  /**************************************/
  /**************************************/
  /******* cross sell styles ************/
  /**************************************/
  /**************************************/
  /*********** footer styles ************/
  /**************************************/
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-title {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  font-size: 34px;
}
#es-rc #es-rc-content .es-title span {
  font-weight: 700;
}
#es-rc #es-rc-content .es-text-outline {
  width: 100%;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
#es-rc #es-rc-content .es-text-stroke {
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
  color: #DD796B;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.1em;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-text-stroke {
    font-size: 32px;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-text-stroke {
    font-size: 38px;
  }
}
#es-rc #es-rc-content .es-text-accent {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-kv__logo {
  background: #000;
  padding: 20px 16px;
}
#es-rc #es-rc-content .es-kv__badge {
  display: none;
}
#es-rc #es-rc-content .es-kv__left {
  position: relative;
}
#es-rc #es-rc-content .es-kv__text {
  position: absolute;
  bottom: 0;
  padding: 16px;
  width: 100%;
}
#es-rc #es-rc-content .es-kv__headline {
  text-transform: uppercase;
  color: #FFF;
  font-weight: 700;
  font-size: clamp(0.875rem, -0.2599rem + 6.9841vw, 2.25rem);
}
#es-rc #es-rc-content .es-kv__right {
  position: relative;
}
#es-rc #es-rc-content .es-kv__packshot {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 43%;
}
#es-rc #es-rc-content .es-kv__right .es-kv__text {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: clamp(1.375rem, -0.2758rem + 10.1587vw, 3.375rem);
  font-weight: 700;
  color: #FFF;
  text-align: right;
  right: 10%;
  bottom: 5%;
}
#es-rc #es-rc-content .es-kv__right .es-kv__text--bg {
  background-color: #DD796B;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  padding: 0px 4px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-kv {
    position: relative;
    margin-top: 40px;
  }
  #es-rc #es-rc-content .es-kv__badge {
    position: absolute;
    display: block;
    top: -40px;
    right: 40px;
    z-index: 2;
  }
  #es-rc #es-rc-content .es-kv__container {
    display: flex;
    flex-direction: row;
  }
  #es-rc #es-rc-content .es-kv__headline {
    font-size: clamp(1rem, -0.4257rem + 3.9604vw, 2rem);
  }
  #es-rc #es-rc-content .es-kv__right .es-kv__text {
    font-size: clamp(1.25rem, 0.0025rem + 3.4653vw, 2.125rem);
  }
}
#es-rc #es-rc-content .es-features {
  background-color: #DD796B;
  padding: 1rem;
}
#es-rc #es-rc-content .es-features__header {
  color: #FFF;
  text-align: center;
}
#es-rc #es-rc-content .es-features .es-text-accent {
  font-size: 24px;
}
#es-rc #es-rc-content .es-features__desc {
  margin-top: 16px;
}
#es-rc #es-rc-content .es-features__wrapper {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
#es-rc #es-rc-content .es-features__single {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: #FFF;
  font-size: 20px;
  position: relative;
  border-bottom: 1px solid #FFF;
  width: 60%;
  padding-bottom: 4px;
}
#es-rc #es-rc-content .es-features__line {
  display: none;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-features {
    background-image: url("../images/features-bg.png");
    background-size: cover;
    background-position: center;
    aspect-ratio: 13/10;
    padding-top: 24px;
    position: relative;
  }
  #es-rc #es-rc-content .es-features .es-text-accent {
    margin-top: 8px;
    font-size: 32px;
  }
  #es-rc #es-rc-content .es-features__wrapper {
    justify-content: center;
    height: 100%;
  }
  #es-rc #es-rc-content .es-features__single {
    max-width: 31%;
    font-size: 24px;
    border-bottom: none;
    position: relative;
  }
  #es-rc #es-rc-content .es-features__single:nth-of-type(1) {
    align-self: flex-start;
    text-align: left;
  }
  #es-rc #es-rc-content .es-features__single:nth-of-type(2) {
    align-self: flex-end;
    text-align: right;
    flex-direction: row-reverse;
  }
  #es-rc #es-rc-content .es-features__single:nth-of-type(3) {
    align-self: flex-start;
    text-align: left;
  }
  #es-rc #es-rc-content .es-features__line {
    content: "";
    min-width: 50px;
    height: 1px;
    background-color: #FFF;
    margin-right: 4px;
    display: block;
    position: absolute;
    top: 50%;
    right: -24%;
  }
  #es-rc #es-rc-content .es-features__line::after {
    content: "";
    min-width: 4px;
    height: 4px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: 0;
  }
  #es-rc #es-rc-content .es-features__single:nth-of-type(2) .es-features__line {
    right: unset;
    left: 0;
  }
  #es-rc #es-rc-content .es-features__single:nth-of-type(2) .es-features__line::after {
    display: none;
  }
  #es-rc #es-rc-content .es-features__single:nth-of-type(2) .es-features__line::before {
    content: "";
    min-width: 4px;
    height: 4px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: 0;
  }
  #es-rc #es-rc-content .es-features::after {
    content: "";
    background-image: url("../images/leaf-1.png");
    background-size: contain;
    position: absolute;
    bottom: -17%;
    right: 0;
    width: 267px;
    height: 269px;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-features {
    aspect-ratio: unset;
    min-height: 575px;
    background-position: bottom;
  }
  #es-rc #es-rc-content .es-features__wrapper {
    height: 350px;
    padding: 32px;
  }
  #es-rc #es-rc-content .es-features .es-text-accent {
    font-size: 38px;
  }
  #es-rc #es-rc-content .es-features__single {
    font-size: 28px;
    max-width: 190px;
  }
  #es-rc #es-rc-content .es-features::after {
    width: 363px;
    height: 331px;
  }
}
@media (min-width: 888px) {
  #es-rc #es-rc-content .es-features {
    min-height: 666px;
  }
  #es-rc #es-rc-content .es-features__single {
    font-size: 32px;
    max-width: 210px;
  }
}
#es-rc #es-rc-content .es-colors {
  padding-block: 50px;
  background-image: url("../images/shade-bg.png");
}
#es-rc #es-rc-content .es-colors__product img {
  max-height: 300px;
}
#es-rc #es-rc-content .es-colors__container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}
#es-rc #es-rc-content .es-colors__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 215px;
}
#es-rc #es-rc-content .es-colors__shade {
  position: relative;
}
#es-rc #es-rc-content .es-colors__text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  color: #FFF;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-colors__single {
    max-width: 150px;
  }
}
#es-rc #es-rc-content .es-cross {
  padding: 40px 16px;
  background-color: #FBC1C2;
}
#es-rc #es-rc-content .es-cross__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 32px 8px;
  margin-top: 32px;
}
#es-rc #es-rc-content .es-cross__single {
  max-width: 300px;
  display: flex;
  align-items: center;
  flex-flow: column;
}
#es-rc #es-rc-content .es-cross__single:hover .es-cross__img {
  transform: scale(1.05);
}
#es-rc #es-rc-content .es-cross__single:hover .es-cross__link {
  background-color: #FFF;
  color: #000;
  box-shadow: inset 0px 0px 0px 2px #000;
}
#es-rc #es-rc-content .es-cross__packshot {
  margin-bottom: 16px;
  padding-bottom: 16px;
  width: 100%;
  height: 250px;
}
#es-rc #es-rc-content .es-cross__img {
  max-height: 100%;
  transition: all 0.3s;
}
#es-rc #es-rc-content .es-cross__name {
  line-height: inherit;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  margin-bottom: 8px;
}
#es-rc #es-rc-content .es-cross__desc {
  text-align: center;
  font-size: 14px;
  margin-bottom: 32px;
}
#es-rc #es-rc-content .es-cross__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-size: 20px;
  font-weight: inherit;
  background: #000;
  color: #FFF;
  text-decoration: none;
  padding: 16px 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  display: inline-block;
  transition: color 0.3s;
}
#es-rc #es-rc-content .es-cross .es-disclaimer {
  text-align: center;
  text-wrap: balance;
  margin-top: 50px;
  font-size: 14px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-cross .es-disclaimer {
    font-size: 12px;
  }
}
#es-rc #es-rc-content .es-footer {
  background-color: #000;
  padding: 24px;
}/*# sourceMappingURL=styles.css.map */